<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="/" class="text-decoration-none text-success">Trang chủ</a>
        <h2 style="fw-bold">Thống kê</h2>
        <span class="fw-bold">
            {{#if maCH}}
                Cửa hàng số {{maCH}}
            {{/if}}
        </span>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form action="/statistical" method="post" class="form-inline d-flex mb-3 align-items-end">
                <div class="form-group me-3">
                    <label for="ngaybatdau" class="form-label">Ngày bắt đầu</label> &ensp;
                    <input type="date" name="ngaybatdau" id="ngaybatdau" class="form-control">
                </div>
                <div class="form-group me-3">
                    <label for="ngayketthuc" class="form-label">Ngày kết thúc</label> &ensp;
                    <input type="date" name="ngayketthuc" id="ngayketthuc" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Tìm" class="btn btn-success">
                </div>
            </form>
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Mã hoá đơn</th>
                        <th>Nhân viên</th>
                        <th>Khách hàng</th>
                        <th>Ngày lập hoá đơn</th>
                        <th>Hàng hoá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tkcuahang}}
                    <script>
                        console.log({{this.tenHH}})
                    </script>
                    <tr>
                        <td>{{this.soHD}}</td>
                        <td>{{this.tenNV}}</td>
                        <td>{{this.maKH}}</td>
                        <td>{{this.ngaylapHD}}</td>
                        <td>{{this.tenHH}}</td>
                        <td>{{this.slCTHD}}</td>
                        <td>{{this.giaHH}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="6" class="text-center">Không có dữ liệu</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
.form-inline {
    display: flex;
    gap: 20px; /* Khoảng cách giữa các phần tử */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 200px; /* Đặt kích thước cho ô nhập */
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
</style>
